{% extends "users/base.html" %}
{% block content %}

 {% if isDriver  %}
<h1>Sorry,You are not a driver and you cannot accept orders</h1>
 <a href = "/addCar/">I Want to be a driver </a>
 {% else %}
 <h2>Rides that are waiting for you!</h2>
 {% if orderList %}
  <table class = "table">
   <thead>
     <tr>
       <th scope = "col">Destination</th>
       <th scope = "col">Arrival Time</th>
       <th scope = "col">Number of Passange</th>
       <th scope = "col">Shared</th>
       <th scope = "col">confirm</th>
       </tr>
   </thead>
   {% for ride in orderList %}
   <tbody>
     <tr>
   <td>{{ride.destination}}</td>
     
     <td>{{ride.arrivaltime}}</td>
     <td>{{ride.NumPassanger}}</td>
     {% if ride.CanShare == 1 %}
     <td>Yes</td>
     {% else %}
     <td>No</td>
     {% endif %}
     
       
       <td><a href="/driver1/{{ride.id}}/" >Confirm</a>
     
     </tr>
     {% endfor %}
     </tbody>
 </table>
 
 {% else %}
 <h4>No ride available</h4>
 {% endif %}

 <br/>
 <br />
 <h2>Rides that are in progress</h2>
  {% if confirmList %}
  <table class = "table">
   <thead>
     <tr>
       <th scope = "col">Destination</th>
       <th scope = "col">Arrival Time</th>
       <th scope = "col">Number of Passange</th>
       <th scope = "col">Shared</th>
       <th scope = "col">complete</th>
       </tr>
   </thead>
   {% for ride in confirmList %}
   <tbody>
     <tr>
   <td>{{ride.destination}}</td>
     
     <td>{{ride.arrivaltime}}</td>
     <td>{{ride.NumPassanger}}</td>
     {% if ride.CanShare == 1 %}
     <td>Yes</td>
     {% else %}
     <td>No</td>
     {% endif %}
     
       
       <td><a href="/driver1/{{ride.id}}/" >Complete</a>
     
     </tr>
     {% endfor %}
     </tbody>
 </table>
 
 {% else %}
 <h4>No ride available</h4>
 {% endif %}
 
{% endif %}  
{% endblock%}

