{% extends "users/base.html" %}
{% block content %}
<div > 
<h1>{{users.first_name}}</h1>
<a href="/profile_edit/">Edit Profile</a>
<table class="table">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>First Name</td>
      <td>{{users.first_name}}</td>
    </tr>
    <tr>
<tr>
      <td>Last Name</td>
      <td>{{users.last_name}}</td>
    </tr>
    <tr>
     <td>Email Address</td>
      <td>{{users.email}}</td>
    </tr>
    <tr>
      <td>Phone Number</td>
       <td>{{users.phone_number}}</td>
    </tr>
    {% if isDriver %}
	<tr>
      <td>Vehicle Type</td>
      <td>{{cars.vehicle_type}}</td>
    </tr>
     <tr>
      <td>Plate Number</td>
      <td>{{cars.plate_number}}</td>
    </tr>
	<tr>
      <td>Max Passangers</td>
      <td>{{cars.max_passanger}}</td>
	</tr>
    	
  </tbody>
</table>
{% else %}
</table>
 <a href = "/addCar/">Want to be a driver </a>

 {% endif %}
     <ul>
      <li><a href="/index/">BACK TO INDEX</a></li>
     </ul>
     </div> 
{% endblock%}
