{% extends "users/base.html" %}
{% block content %}
<h1>Change your information</h1>
<a href="/request/">Back</a>
<table class="table">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <form class = 'form-register' action = '/profile_edit/' method ="POST">
      {% csrf_token %} 
      <tr>
     <td>First Name </td>
      <td><div class="form-group">{{user_form.first_name}}</div></td>
    </tr>
    <tr>
      <td>Last Name</td>
      <td><div class="form-group">{{user_form.last_name}}</div></td>
    </tr>
    <tr>
     <td>Email Address</td>
      <td><div class="form-group">{{user_form.email}}</div></td>
    </tr>
    <tr>
      <td>Phone Number</td>
      <td><div class="form-group">{{user_form.phone_number}}</div></td>
    </tr>

    {% if isDriver %}
	<tr>
      <td>Vehicle Type</td>
      <td><div class="form-group">{{car_form.vehicle_type}}</div</td>
    </tr>
     <tr>
      <td>Plate Number</td>
      <td><div class = "form-group">{{car_form.plate_number}}</div></td>
    </tr>
	<tr>
      <td>Max Passangers</td>
      <td><div class="form-group">{{car_form.max_passanger}}</div></td>
	</tr>
	 <button type="submit" class="btn btn-primary pull-right">Submit</button>
    </form>	
  </tbody>
</table>
{% else %}
 <button type="submit" class="btn btn-primary pull-right">Submit</button>
</form>
</tbody>
</table>
 

   {% endif %}  
{% endblock%}
