{% extends "users/base.html" %}
{% block content %}
<h3> Ride {{request_id.id}} Basic Info</h3>
<div>
  <table class = "table">
    <tr>
      <th scope="col">Owner Name</th>
      <th scope="col">Owner Email</th>
      <th scope="col">Destination</th>
      <th scope="col">Date/Time</th>
      <th scope="col"># of passangers</th>
      <th scope="col">Sharable</th>
      <th scope="col">status</th>
     
    </tr>
    <tr>
      <td>
	{{owner.first_name}}
      </td>
      
      <td>
	{{owner.email}}
      </td>
      <td>
	<a href="{% url 'edit_destination' request_id.id %}">{{request_id.destination}}</a>
      </td>
      <td>
	<a href="{% url 'edit_time' request_id.id %}">{{request_id.arrivaltime}}</a>
      </td>
      <td>
	<a href="{% url 'edit_num_passanger' request_id.id %}">{{request_id.NumPassanger}}</a>
      </td>
      <td>
	{% if request_id.CanShare == 0 %}
        Can Share
	{% endif %}
	{% if request_id.CanShare == 1 %}
        Cannot Share
	{% endif %}

      </td>
      <td>
		{% if request_id.status == 0 %}
            Not Confirmed
	{% endif %}
	{% if request_id.status == 1 %}
           Confirmed
	{% endif %}

	{% if request_id.status == 2 %}
           Complete
	{% endif %}
	</td>
    </tr>
    </table>
 <!-- <ul>
    <li>Owner Name
      <ul>
	<li>{{owner.first_name}}</li>
      </ul>
    </li>
    <li>Owner Email
      <ul>
	<li>{{owner.email}}</a></li>
      </ul>
    </li>
    <li>Destination
      <ul>
	<li><a href="{% url 'edit_destination' request_id.id %}">{{request_id.destination}}</a></li>
      </ul>
    </li>
    <li>Date/time
      <ul>
        <li><a href="{% url 'edit_time' request_id.id %}">{{request_id.arrivaltime}}</a></li>
      </ul>
    </li>
    <li># of passangers
      <ul>
        <li><a href="{% url 'edit_num_passanger' request_id.id %}">{{request_id.NumPassanger}}</a></li>
      </ul>
    </li>
    <li>Sharable?
      <ul>
	{% if request_id.CanShare == 0 %}
        <li><a href="#">Can Share</a></li>
	{% endif %}
	{% if request_id.CanShare == 1 %}
        <li><a href="#">Cannot Share</a></li>
	{% endif %}
	
      </ul>
    </li>
    <li>Status
      <ul>
	{% if request_id.status == 0 %}
            <li>Not Confirmed</li>
	{% endif %}
	{% if request_id.status == 1 %}
            <li>Confirmed</li>
	{% endif %}

	{% if request_id.status == 2 %}
            <li>Complete</li>
	{% endif %}    
	    
      </ul>
    </li>
</table> -->   
</div>
<h3> Ride {{request_id.id}} Vehicle Info</h3>  
<div>
   <table class = "table">
    <tr>
      <th scope="col">Vehicle Driver Email</th>
      <th scope="col">Vehicle Plate</th>
      <th scope="col">Vehicle Type</th>
          
    </tr>
    <tr>
      <td>
          {% if request_id.status != 0 %}
	     {{driver.email}}
	  {% endif %}
	  {% if request_id.status == 0 %}
	     Not Available
	  {% endif %}
      </td>
      <td>
		  {% if request_id.status != 0 %}
	     {{car.plate_number}}
	  {% endif %}
	  {% if request_id.status == 0 %}
	     Not Available
	  {% endif %}

      </td>
      <td>
	  {% if request_id.status != 0 %}
	     {{car.vehicle_type}}
	  {% endif %}
	  {% if request_id.status == 0 %}
	     Not Available
	  {% endif %}

	</td>
    </tr>
    </table>
  <!--ul>
      <li>Vehicle Driver Email
	<ul>
	  {% if request_id.status != 0 %}
	     <li>{{driver.email}}</li>
	  {% endif %}
	  {% if request_id.status == 0 %}
	     <li>Not Available</li>
	  {% endif %}
        </ul>
      </li>

      <li>Vehicle Plate
	<ul>
	  {% if request_id.status != 0 %}
	     <li>{{car.plate_number}}</li>
	  {% endif %}
	  {% if request_id.status == 0 %}
	     <li>Not Available</li>
	  {% endif %}
      </ul>
      </li>
      
      <li>Vehicle Type
	<ul>
	  {% if request_id.status != 0 %}
	     <li>{{car.vehicle_type}}</li>
	  {% endif %}
	  {% if request_id.status == 0 %}
	     <li>Not Available</li>
	  {% endif %}
      </ul>
      </li>
   </ul>-->
</div>

{% if sharers %}
<h3> Ride {{request_id.id}} Sharers Info</h3>
<div>
    <table class = "table">
      <tr>
        <th scope = "col">Email</th>
        <th scope="col"># of passangers</th>
      </tr>

{% for sharer in sharers %}
      <tr>
	<td>{{sharer.r_sharer_email}}</td>
	<td>{{sharer.sharer_num}}</td>
      </tr>
      {% endfor %}
      </table>
{% else %}
<h3> Nobody joins</h3>
{% endif %}
</div>











    <ul>
      <li><a href="/index/">BACK TO INDEX</a></li>
    </ul>



    



{% endblock content %}  
