html,
body,
div,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
form,
input,
th,
td {
    margin: 0;
    padding: 0;
}

.backgroundset {
    background: url("static/pictures/backimagejpg.jpg") 50% 0 no-repeat fixed !important;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.loginbox {
    margin-top: 100px;
    width: 40%;
    margin-left: 15%;
    background-color: white;
    padding: 30px;
    border-radius: 15px;
}

.page {
    margin-left: 10%;
    width: 80%;
    background-color: white;
    padding-left: 30px;
    padding-right: 30px;
}